In [2]:
import os
import pandas as pd
import matplotlib.image as mpimg
from matplotlib import pyplot as plt
import matplotlib as mpl
import cv2

pd.set_option("display.max_rows", 30)
pd.set_option('max_colwidth', 400)

In [9]:
val_Data_Directory_df = pd.read_hdf('val_Data_Directory_df.h5')
train_Data_Directory_df = pd.read_hdf('train_Data_Directory_df.h5')
test_Data_Directory_df = pd.read_hdf('test_Data_Directory_df.h5')
class_df = pd.read_hdf('class_df.h5')

In [10]:
class_df

  Class
0   cat
1   dog

In [11]:
val_Data_Directory_df.head()

,Directory,Set,Class,Class_ID
0,d:\Files\GitHub\General_Image_Classifier\Datasets\val\cat\cat.100.jpg,val,cat,0
1,d:\Files\GitHub\General_Image_Classifier\Datasets\val\cat\cat.1000.jpg,val,cat,0
2,d:\Files\GitHub\General_Image_Classifier\Datasets\val\cat\cat.10000.jpg,val,cat,0
3,d:\Files\GitHub\General_Image_Classifier\Datasets\val\cat\cat.10010.jpg,val,cat,0
4,d:\Files\GitHub\General_Image_Classifier\Datasets\val\cat\cat.10017.jpg,val,cat,0

In [16]:
train_Data_Directory_df.head()

,Directory,Set,Class,Class_ID
0,d:\Files\GitHub\General_Image_Classifier\Datasets\train\cat\cat.0.jpg,train,cat,0
1,d:\Files\GitHub\General_Image_Classifier\Datasets\train\cat\cat.1.jpg,train,cat,0
2,d:\Files\GitHub\General_Image_Classifier\Datasets\train\cat\cat.10.jpg,train,cat,0
3,d:\Files\GitHub\General_Image_Classifier\Datasets\train\cat\cat.10001.jpg,train,cat,0
4,d:\Files\GitHub\General_Image_Classifier\Datasets\train\cat\cat.10002.jpg,train,cat,0

In [13]:
test_Data_Directory_df.head()

,Directory,Set,ID,Class,Class_ID
0,d:\Files\GitHub\General_Image_Classifier\Datasets\test\1.jpg,test,1,NaN,NaN
1,d:\Files\GitHub\General_Image_Classifier\Datasets\test\2.jpg,test,2,NaN,NaN
2,d:\Files\GitHub\General_Image_Classifier\Datasets\test\3.jpg,test,3,NaN,NaN
3,d:\Files\GitHub\General_Image_Classifier\Datasets\test\4.jpg,test,4,NaN,NaN
4,d:\Files\GitHub\General_Image_Classifier\Datasets\test\5.jpg,test,5,NaN,NaN

# Show Image

In [ ]:
def image_view(file_path): 
    im = cv2.imread(file_path)
    im_resized = cv2.resize(im, (224, 224), interpolation=cv2.INTER_LINEAR)

    plt.imshow(cv2.cvtColor(im_resized, cv2.COLOR_BGR2RGB))
    plt.title(label = file_path.split("\\")[-1] + ' (' + file_path.split("\\")[-2] + ')')
    plt.axis('off')